<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="javascripts/genmc.js"></script>
    <title>#{title}</title>
  </head>
  <body>
    <center>
      <table id="logo" cellspacing=0 cellpadding=0>
        <thead/>
        <tbody>
          <tr>
            <td id='x0y8'><img src='images/clear.png'></td>
            <td id='x1y8'><img src='images/clear.png'></td>
            <td id='x2y8'><img src='images/clear.png'></td>
            <td id='x3y8'><img src='images/clear.png'></td>
            <td id='x4y8'><img src='images/clear.png'></td>
            <td id='x5y8'><img src='images/clear.png'></td>
            <td id='x6y8'><img src='images/clear.png'></td>
            <td id='x7y8'><img src='images/clear.png'></td>
            <td id='x8y8'><img src='images/clear.png'></td>
            <td id='x9y8'><img src='images/clear.png'></td>
            <td id='x10y8'><img src='images/clear.png'></td>
            <td id='x11y8'><img src='images/clear.png'></td>
            <td id='x12y8'><img src='images/clear.png'></td>
            <td id='x13y8'><img src='images/clear.png'></td>
            <td id='x14y8'><img src='images/clear.png'></td>
            <td id='x15y8'><img src='images/clear.png'></td>
            <td id='x16y8'><img src='images/clear.png'></td>
            <td id='x17y8'><img src='images/clear.png'></td>
            <td id='x18y8'><img src='images/clear.png'></td>
            <td id='x19y8'><img src='images/clear.png'></td>
            <td id='x20y8'><img src='images/clear.png'></td>
            <td id='x21y8'><img src='images/clear.png'></td>
            <td id='x22y8'><img src='images/clear.png'></td>
            <td id='x23y8'><img src='images/clear.png'></td>
            <td id='x24y8'><img src='images/clear.png'></td>
            <td id='x25y8'><img src='images/clear.png'></td>
            <td id='x26y8'><img src='images/clear.png'></td>
            <td id='x27y8'><img src='images/clear.png'></td>
            <td id='x28y8'><img src='images/clear.png'></td>
            <td id='x29y8'><img src='images/clear.png'></td>
            <td id='x30y8'><img src='images/clear.png'></td>
          </tr>
          <tr>
            <td id='x0y7'><img src='images/clear.png'></td>
            <td id='x1y7'><img src='images/clear.png'></td>
            <td id='x2y7'><img src='images/clear.png'></td>
            <td id='x3y7'><img src='images/clear.png'></td>
            <td id='x4y7'><img src='images/clear.png'></td>
            <td id='x5y7'><img src='images/clear.png'></td>
            <td id='x6y7'><img src='images/clear.png'></td>
            <td id='x7y7'><img src='images/clear.png'></td>
            <td id='x8y7'><img src='images/clear.png'></td>
            <td id='x9y7'><img src='images/clear.png'></td>
            <td id='x10y7'><img src='images/clear.png'></td>
            <td id='x11y7'><img src='images/clear.png'></td>
            <td id='x12y7'><img src='images/clear.png'></td>
            <td id='x13y7'><img src='images/clear.png'></td>
            <td id='x14y7'><img src='images/clear.png'></td>
            <td id='x15y7'><img src='images/clear.png'></td>
            <td id='x16y7'><img src='images/clear.png'></td>
            <td id='x17y7'><img src='images/clear.png'></td>
            <td id='x18y7'><img src='images/clear.png'></td>
            <td id='x19y7'><img src='images/clear.png'></td>
            <td id='x20y7'><img src='images/clear.png'></td>
            <td id='x21y7'><img src='images/clear.png'></td>
            <td id='x22y7'><img src='images/clear.png'></td>
            <td id='x23y7'><img src='images/clear.png'></td>
            <td id='x24y7'><img src='images/clear.png'></td>
            <td id='x25y7'><img src='images/clear.png'></td>
            <td id='x26y7'><img src='images/clear.png'></td>
            <td id='x27y7'><img src='images/clear.png'></td>
            <td id='x28y7'><img src='images/clear.png'></td>
            <td id='x29y7'><img src='images/clear.png'></td>
            <td id='x30y7'><img src='images/clear.png'></td>
          </tr>
          <tr>
            <td id='x0y6'><img src='images/clear.png'></td>
            <td id='x1y6'><img src='images/clear.png'></td>
            <td id='x2y6'><img src='images/clear.png'></td>
            <td id='x3y6'><img src='images/clear.png'></td>
            <td id='x4y6'><img src='images/clear.png'></td>
            <td id='x5y6'><img src='images/clear.png'></td>
            <td id='x6y6'><img src='images/clear.png'></td>
            <td id='x7y6'><img src='images/clear.png'></td>
            <td id='x8y6'><img src='images/clear.png'></td>
            <td id='x9y6'><img src='images/clear.png'></td>
            <td id='x10y6'><img src='images/clear.png'></td>
            <td id='x11y6'><img src='images/clear.png'></td>
            <td id='x12y6'><img src='images/clear.png'></td>
            <td id='x13y6'><img src='images/clear.png'></td>
            <td id='x14y6'><img src='images/clear.png'></td>
            <td id='x15y6'><img src='images/clear.png'></td>
            <td id='x16y6'><img src='images/clear.png'></td>
            <td id='x17y6'><img src='images/clear.png'></td>
            <td id='x18y6'><img src='images/clear.png'></td>
            <td id='x19y6'><img src='images/clear.png'></td>
            <td id='x20y6'><img src='images/clear.png'></td>
            <td id='x21y6'><img src='images/clear.png'></td>
            <td id='x22y6'><img src='images/clear.png'></td>
            <td id='x23y6'><img src='images/clear.png'></td>
            <td id='x24y6'><img src='images/clear.png'></td>
            <td id='x25y6'><img src='images/clear.png'></td>
            <td id='x26y6'><img src='images/clear.png'></td>
            <td id='x27y6'><img src='images/clear.png'></td>
            <td id='x28y6'><img src='images/clear.png'></td>
            <td id='x29y6'><img src='images/clear.png'></td>
            <td id='x30y6'><img src='images/clear.png'></td>
          </tr>
          <tr>
            <td id='x0y5'><img src='images/clear.png'></td>
            <td id='x1y5'><img src='images/clear.png'></td>
            <td id='x2y5'><img src='images/clear.png'></td>
            <td id='x3y5'><img src='images/clear.png'></td>
            <td id='x4y5'><img src='images/clear.png'></td>
            <td id='x5y5'><img src='images/clear.png'></td>
            <td id='x6y5'><img src='images/clear.png'></td>
            <td id='x7y5'><img src='images/clear.png'></td>
            <td id='x8y5'><img src='images/clear.png'></td>
            <td id='x9y5'><img src='images/clear.png'></td>
            <td id='x10y5'><img src='images/clear.png'></td>
            <td id='x11y5'><img src='images/clear.png'></td>
            <td id='x12y5'><img src='images/clear.png'></td>
            <td id='x13y5'><img src='images/clear.png'></td>
            <td id='x14y5'><img src='images/clear.png'></td>
            <td id='x15y5'><img src='images/clear.png'></td>
            <td id='x16y5'><img src='images/clear.png'></td>
            <td id='x17y5'><img src='images/clear.png'></td>
            <td id='x18y5'><img src='images/clear.png'></td>
            <td id='x19y5'><img src='images/clear.png'></td>
            <td id='x20y5'><img src='images/clear.png'></td>
            <td id='x21y5'><img src='images/clear.png'></td>
            <td id='x22y5'><img src='images/clear.png'></td>
            <td id='x23y5'><img src='images/clear.png'></td>
            <td id='x24y5'><img src='images/clear.png'></td>
            <td id='x25y5'><img src='images/clear.png'></td>
            <td id='x26y5'><img src='images/clear.png'></td>
            <td id='x27y5'><img src='images/clear.png'></td>
            <td id='x28y5'><img src='images/clear.png'></td>
            <td id='x29y5'><img src='images/clear.png'></td>
            <td id='x30y5'><img src='images/clear.png'></td>
          </tr>
          <tr>
            <td id='x0y4'><img src='images/clear.png'></td>
            <td id='x1y4'><img src='images/clear.png'></td>
            <td id='x2y4'><img src='images/clear.png'></td>
            <td id='x3y4'><img src='images/clear.png'></td>
            <td id='x4y4'><img src='images/clear.png'></td>
            <td id='x5y4'><img src='images/clear.png'></td>
            <td id='x6y4'><img src='images/clear.png'></td>
            <td id='x7y4'><img src='images/clear.png'></td>
            <td id='x8y4'><img src='images/clear.png'></td>
            <td id='x9y4'><img src='images/clear.png'></td>
            <td id='x10y4'><img src='images/clear.png'></td>
            <td id='x11y4'><img src='images/clear.png'></td>
            <td id='x12y4'><img src='images/clear.png'></td>
            <td id='x13y4'><img src='images/clear.png'></td>
            <td id='x14y4'><img src='images/clear.png'></td>
            <td id='x15y4'><img src='images/clear.png'></td>
            <td id='x16y4'><img src='images/clear.png'></td>
            <td id='x17y4'><img src='images/clear.png'></td>
            <td id='x18y4'><img src='images/clear.png'></td>
            <td id='x19y4'><img src='images/clear.png'></td>
            <td id='x20y4'><img src='images/clear.png'></td>
            <td id='x21y4'><img src='images/clear.png'></td>
            <td id='x22y4'><img src='images/clear.png'></td>
            <td id='x23y4'><img src='images/clear.png'></td>
            <td id='x24y4'><img src='images/clear.png'></td>
            <td id='x25y4'><img src='images/clear.png'></td>
            <td id='x26y4'><img src='images/clear.png'></td>
            <td id='x27y4'><img src='images/clear.png'></td>
            <td id='x28y4'><img src='images/clear.png'></td>
            <td id='x29y4'><img src='images/clear.png'></td>
            <td id='x30y4'><img src='images/clear.png'></td>
          </tr>
          <tr>
            <td id='x0y3'><img src='images/clear.png'></td>
            <td id='x1y3'><img src='images/clear.png'></td>
            <td id='x2y3'><img src='images/clear.png'></td>
            <td id='x3y3'><img src='images/clear.png'></td>
            <td id='x4y3'><img src='images/clear.png'></td>
            <td id='x5y3'><img src='images/clear.png'></td>
            <td id='x6y3'><img src='images/clear.png'></td>
            <td id='x7y3'><img src='images/clear.png'></td>
            <td id='x8y3'><img src='images/clear.png'></td>
            <td id='x9y3'><img src='images/clear.png'></td>
            <td id='x10y3'><img src='images/clear.png'></td>
            <td id='x11y3'><img src='images/clear.png'></td>
            <td id='x12y3'><img src='images/clear.png'></td>
            <td id='x13y3'><img src='images/clear.png'></td>
            <td id='x14y3'><img src='images/clear.png'></td>
            <td id='x15y3'><img src='images/clear.png'></td>
            <td id='x16y3'><img src='images/clear.png'></td>
            <td id='x17y3'><img src='images/clear.png'></td>
            <td id='x18y3'><img src='images/clear.png'></td>
            <td id='x19y3'><img src='images/clear.png'></td>
            <td id='x20y3'><img src='images/clear.png'></td>
            <td id='x21y3'><img src='images/clear.png'></td>
            <td id='x22y3'><img src='images/clear.png'></td>
            <td id='x23y3'><img src='images/clear.png'></td>
            <td id='x24y3'><img src='images/clear.png'></td>
            <td id='x25y3'><img src='images/clear.png'></td>
            <td id='x26y3'><img src='images/clear.png'></td>
            <td id='x27y3'><img src='images/clear.png'></td>
            <td id='x28y3'><img src='images/clear.png'></td>
            <td id='x29y3'><img src='images/clear.png'></td>
            <td id='x30y3'><img src='images/clear.png'></td>
          </tr>
          <tr>
            <td id='x0y2'><img src='images/clear.png'></td>
            <td id='x1y2'><img src='images/clear.png'></td>
            <td id='x2y2'><img src='images/clear.png'></td>
            <td id='x3y2'><img src='images/clear.png'></td>
            <td id='x4y2'><img src='images/clear.png'></td>
            <td id='x5y2'><img src='images/clear.png'></td>
            <td id='x6y2'><img src='images/clear.png'></td>
            <td id='x7y2'><img src='images/clear.png'></td>
            <td id='x8y2'><img src='images/clear.png'></td>
            <td id='x9y2'><img src='images/clear.png'></td>
            <td id='x10y2'><img src='images/clear.png'></td>
            <td id='x11y2'><img src='images/clear.png'></td>
            <td id='x12y2'><img src='images/clear.png'></td>
            <td id='x13y2'><img src='images/clear.png'></td>
            <td id='x14y2'><img src='images/clear.png'></td>
            <td id='x15y2'><img src='images/clear.png'></td>
            <td id='x16y2'><img src='images/clear.png'></td>
            <td id='x17y2'><img src='images/clear.png'></td>
            <td id='x18y2'><img src='images/clear.png'></td>
            <td id='x19y2'><img src='images/clear.png'></td>
            <td id='x20y2'><img src='images/clear.png'></td>
            <td id='x21y2'><img src='images/clear.png'></td>
            <td id='x22y2'><img src='images/clear.png'></td>
            <td id='x23y2'><img src='images/clear.png'></td>
            <td id='x24y2'><img src='images/clear.png'></td>
            <td id='x25y2'><img src='images/clear.png'></td>
            <td id='x26y2'><img src='images/clear.png'></td>
            <td id='x27y2'><img src='images/clear.png'></td>
            <td id='x28y2'><img src='images/clear.png'></td>
            <td id='x29y2'><img src='images/clear.png'></td>
            <td id='x30y2'><img src='images/clear.png'></td>
          </tr>
          <tr>
            <td id='x0y1'><img src='images/clear.png'></td>
            <td id='x1y1'><img src='images/clear.png'></td>
            <td id='x2y1'><img src='images/clear.png'></td>
            <td id='x3y1'><img src='images/clear.png'></td>
            <td id='x4y1'><img src='images/clear.png'></td>
            <td id='x5y1'><img src='images/clear.png'></td>
            <td id='x6y1'><img src='images/clear.png'></td>
            <td id='x7y1'><img src='images/clear.png'></td>
            <td id='x8y1'><img src='images/clear.png'></td>
            <td id='x9y1'><img src='images/clear.png'></td>
            <td id='x10y1'><img src='images/clear.png'></td>
            <td id='x11y1'><img src='images/clear.png'></td>
            <td id='x12y1'><img src='images/clear.png'></td>
            <td id='x13y1'><img src='images/clear.png'></td>
            <td id='x14y1'><img src='images/clear.png'></td>
            <td id='x15y1'><img src='images/clear.png'></td>
            <td id='x16y1'><img src='images/clear.png'></td>
            <td id='x17y1'><img src='images/clear.png'></td>
            <td id='x18y1'><img src='images/clear.png'></td>
            <td id='x19y1'><img src='images/clear.png'></td>
            <td id='x20y1'><img src='images/clear.png'></td>
            <td id='x21y1'><img src='images/clear.png'></td>
            <td id='x22y1'><img src='images/clear.png'></td>
            <td id='x23y1'><img src='images/clear.png'></td>
            <td id='x24y1'><img src='images/clear.png'></td>
            <td id='x25y1'><img src='images/clear.png'></td>
            <td id='x26y1'><img src='images/clear.png'></td>
            <td id='x27y1'><img src='images/clear.png'></td>
            <td id='x28y1'><img src='images/clear.png'></td>
            <td id='x29y1'><img src='images/clear.png'></td>
            <td id='x30y1'><img src='images/clear.png'></td>
          </tr>
          <tr>
            <td id='x0y0'><img src='images/clear.png'></td>
            <td id='x1y0'><img src='images/clear.png'></td>
            <td id='x2y0'><img src='images/clear.png'></td>
            <td id='x3y0'><img src='images/clear.png'></td>
            <td id='x4y0'><img src='images/clear.png'></td>
            <td id='x5y0'><img src='images/clear.png'></td>
            <td id='x6y0'><img src='images/clear.png'></td>
            <td id='x7y0'><img src='images/clear.png'></td>
            <td id='x8y0'><img src='images/clear.png'></td>
            <td id='x9y0'><img src='images/clear.png'></td>
            <td id='x10y0'><img src='images/clear.png'></td>
            <td id='x11y0'><img src='images/clear.png'></td>
            <td id='x12y0'><img src='images/clear.png'></td>
            <td id='x13y0'><img src='images/clear.png'></td>
            <td id='x14y0'><img src='images/clear.png'></td>
            <td id='x15y0'><img src='images/clear.png'></td>
            <td id='x16y0'><img src='images/clear.png'></td>
            <td id='x17y0'><img src='images/clear.png'></td>
            <td id='x18y0'><img src='images/clear.png'></td>
            <td id='x19y0'><img src='images/clear.png'></td>
            <td id='x20y0'><img src='images/clear.png'></td>
            <td id='x21y0'><img src='images/clear.png'></td>
            <td id='x22y0'><img src='images/clear.png'></td>
            <td id='x23y0'><img src='images/clear.png'></td>
            <td id='x24y0'><img src='images/clear.png'></td>
            <td id='x25y0'><img src='images/clear.png'></td>
            <td id='x26y0'><img src='images/clear.png'></td>
            <td id='x27y0'><img src='images/clear.png'></td>
            <td id='x28y0'><img src='images/clear.png'></td>
            <td id='x29y0'><img src='images/clear.png'></td>
            <td id='x30y0'><img src='images/clear.png'></td>
          </tr>
        </tbody>
      </table>
    </center>
    #{raw body}
    <script>
      genMC.default_logo()
    </script>
  </body>
</html>
