<h1>Biography</h1>
<p>I am a bit bungler and cat herder for <a href="https://www.altamiracorp.com/" target="_blank">Altamira Technologies Corporation</a>.
<p>I enjoy consuming and creating music - it's how I met my wife, leading to kids and concern for how they were (not) creating stuff on computers. I enjoy neat programming languages like <a target="_blank" href="http://clojure.org/">Clojure</a>; I help encourage people to talk about it (and other neat stuff) at <a target="_blank"href="http://www.meetup.com/Cap-Clug/">CapClug</a>.
<p>Feel free to continue the conversation <a target="_blank" href="https://twitter.com/foogoof">@foogoof</a> or via Gmail (same prefix).
