<h1>Credits</h1>
<ul>
  <li><a target="_blank" href="http://nearinfinity.com">Near Infinity</a> for sponsoring the development of this presentation
  <li><a target="_blank" href="https://twitter.com/puredanger">Alex Miller</a> for running so many great conferences
  <li><a href="http://meetup.com/Cap-Clug/" target="_blank">CapClug</a>: National Capital Area Clojure Users Group - thanks for letting me practice and being neat all around
  <li>The <a href="http://fontpark.net/en/font/xpaider-pixel-explosion-02"
  target="_blank">xpaider pixel explosion 02</a> font used in the logo.
  <li><a target="_blank" href="http://www.minecrafttexturepacks.com/dustycraft/">DustyCraft</a>, an excellent texture pack for Minecraft. Its graphics appear in the logo.
</ul>
