<h1>Kids' picks</h1>
<ul>
  <li><a target="_blank" href="http://www.ihascupquake.com/">ihascupquake</a>: Gamer and source of tons of fun
  <li><a target="_blank" href="http://sethbling.com/">SethBling</a>: for the Redstone
  <li><a target="_blank" href="http://www.ocddisco.com/">fvdisco</a>: red ALL the stone!
  <li><a target="_blank" href="https://twitter.com/Mogswamp">Mogswamp</a>: an excellent map maker, also very personally helpful on <a target="_blank" href="http://www.reddit.com/r/minecraft">/r/minecraft</a>
  <li><a target="_blank" href="http://www.planetminecraft.com/member/linard/">Linard</a>: creator of the excellent <a target="_blank" href="http://www.planetminecraft.com/project/kingdom-of-galekin-1803290/">Kingdom of Galekin</a> map, among others
  <li><a target="_blank" href="http://landoflisp.com/">Land of Lisp</a>: Lisp programming book for young adults to adults. Dr. Barski is a very friendly polymath.
</ul>
