<h1>More neat stuff</h1>
<h3>Graphical</h3>
<ul>
  <li><a href="http://www.stykz.net/">Stykz</a>: The first multi-platform stick figure animation program
</ul>
<h3>Logical</h3>
<ul>
  <li><a target="_blank" href="http://minecraft.net">Minecraft</a>: A flexible &quot;game&quot; for people of all ages
  <li><a target="_blank" href="https://www.gethopscotch.com/">Hopscotch</a>: Coding for kids: an iPad programming language
  <li><a target="_blank" href="http://scratch.mit.edu/">Scratch</a>: Create stories, games, and animations
</ul>
<h3>Miscellaneous</h3>
<ul>
  <li><a target="_blank" href="https://www.khanacademy.org/">Khan Academy</a>: Computer based quizzes done well
</ul>
