<html>
  <head>
    <title>#{title}</title>
    #{partial 'partials/header_stuff.html'}
  </head>
  <body>
    #{partial "logo.html", {scale: 'large', action: 'cycle_logo'}}
    <br>
    <div><p>This is the companion site for the 2013 <a href="https://thestrangeloop.com/" target="_blank">Strange Loop</a> presentation called <a href="https://thestrangeloop.com/sessions/generation-minecraft-%E2%80%93%C2%A0kids-building-software" target="_blank">Generation Minecraft - kids building software</a><p/></div>
    <div><p><b>tl;dr</b>: <i>stop</i> <a style="text-decoration: none; color: black" href="http://www.albinoblacksheep.com/audio/terriblesecret" target="_blank">pushing</a> kids, enable pulling - <a href="http://minecraft.net" target="_blank">Minecraft</a> is an excellent option, <a href="http://www.perseusbooksgroup.com/basic/book_detail.jsp?isbn=0465046746"
  target="_blank">Mindstorms</a> tackles the big picture</p></div>
    <div><p>You may want to:
        <ul>
          <li>Read the <a href="summary" target="_blank">opportunity, challenge, and solution</a>
          <li>Stare at the <a href="http://www.mindmup.com/m#m:a18ce162f0026e0131ceb14a9754aebe76" target="_blank">mindmap<a> -- like an outline in speech bubbles
          <li>Watch the video (release date TBD)
          <li><a href="miscellaneous" target="_blank">Check out</a> kid recommended Minecrafters and other interesting links
        </ul>
    </div>
    #{partial 'partials/footer.html'}
  </body>
</html>
