<h2>The opportunity</h2>
<p>An increasing percentage of the world will spend time, attention, and money on the Internet. Relative to the physical world, the natural resources of the digital world are vastly less scarce. The creators of Minecraft, Google, and botnets have use the same basic tools as other people on the Internet. No one needs to frack for ones and zeros in order to get started.

<h2>The challenges</h2>
<ol>
  <li>More of the world coming online means more competition. Things that can be automated will be automated. The pool of people who can automate things will grow. Without the ability to create, a developer can only compete with this growing global pool other developers.
  <li>The digital world has so many fewer constraints than the physical world. A digital shovel could fly around the moon, re-enter the atmosphere, and do some nice fracking in my neighbor's backyard, just not in my back yard :-).
</ol>

<h2>The proposed solution</h2>
<p>Confidence in one's ability to produce something new, coming from confidence built from a lifetime of trying, failing, and improving one's creations. It's a soft skill, but still a skill which wanes and waxes based on application.

<h2>An obvious problem with the proposed solution</h2>
<p>Society doesn't reward or foster creativity. Local action is required to remedy this. National or global action would be more efficient.

<h2>School vs. creativity</h2>
<p>In 1980 Seymour Papert, father of the LOGO Turtle, published <a href="http://www.perseusbooksgroup.com/basic/book_detail.jsp?isbn=0465046746" target="_blank">Mindstorms</a>. This book describes how computers are an amazing tool that can change the way kids learn.

<p>33 years later many of his predictions have come true. Computers are much cheaper and more widely available. Sadly, the way kids use them to learn has not changed. Mathland is not on the horizon. Unfortunately, his negative predictions are taking hold.

<p>Standardized tests have increased the quantity of time kids spend on a computer in school. This makes budgetary sense as computers are a cost effective way to replace all those paper, pens, and scantron machines. It does not make real world sense; why dedicate such a large percentage of their computer time to a task that a.) computers are better at -- adults rely on Google &amp; Stack Overflow, and b.) has no real world application.

<p>Another perverse incentive of standardized testing is changing who wants to teach. Teachers that can and do make a difference in a child's life are such a valuable part of education. Will people who want to make a difference choose a career where making kids the same is systematically rewarded? Who will apply to be teachers?

<p><a href="https://www.khanacademy.org/" target="_blank">Khan Academy</a> offers the best approach I've seen to standardized testing. I still worry that it's still trying to build a car by iterating on a carriage.

<p>What, really, are the goals of standardized testing?


<h2>Peers vs. creativity</h2>

<p>Competition and collaboration are important skills, increasingly so as more of the world comes online. Video games do a good job at honing both of those.

<p>Player vs. player combat is a staple of video games. Independence and confidence are required to do well.

<p>Team oriented challenges - capture the flag for example - require effective communication. Building a common purpose and helping people with unexpected problems are required to do well.

<p>Most video games have a few basic rules hardcoded into the system. Vast amounts of time and energy are spent specializing around some of these rules. Creativity is not fostered by spending vast amounts of time iterating on a few of someone else's ideas. Creativity was the opportunity cost.

<p><a href="http://minecraft.net" target="_blank">Minecraft</a> is a powerful exception. It rewards competition, collaboration, AND creativity. Exploring, building, and combining are required to beat the Ender Dragon. Automating the harvesting of materials is normal. Redstone blocks teach applied electrical engineering: logic gates anyone?

<h2>People of Responsibility - avoid doing nothing</h2>

<p>Doing nothing means means the next generation will only have school and peers as influences. Only some of exceptionally talented will sustain creative skills through their formative years. Such a waste in a landscape that creativity is so good for.

<p>Fortunately, creativity is just a skill. Like sports and music, proficiency and confidence come from experience over time. What the kids need is the ability and support to practice creativity. Not knowing how to do that is a really good perspective.

<h2>People of Responsibity - avoid doing one specific thing</h2>
<p>Knowing how kids should spend time creating on the computer is a cart-horse ordering problem. People who have learned and made a career in writing code want their kids to do the same thing. It's a modern reinterpretation of forcing a child to use a bat, ball, stick, glove, keyboard, clarinet, &amp;c... Why take their first step for them? Why would a step out of your past be a step in their future?

<h2>People of Responsibility - let the kid pick, it's their life</h2>
<p>Doing nothing is bad. Doing some specific things are bad. No any one thing is the right thing to do for kids in general. Relax and delegate. Give them some options and let them pick. Kids can't buy their own computers. Do that. They can't and WON'T limit their access to the computer or the internet. Do that. Kids can't install musical, graphical, or logical software.

<p>Remove things they don't use. Improve the things they do. Watch what they produce -- creativity is self evident. But it's super fragile and failure is a completely normal part of the process. Enough bad experiences will shatter the will to create.

<p>Kids teach themselves to hold their head up, to roll over, to crawl, to walk, run, and jump. They teach themselves so much starting with so little. Practicing creativity requires much less and they start with so much more. Trust them, but enable, support, and verify :-)
