<h3>Some of the technologies used to build this presentation and website</h3>
<ul>
  <li><a href="http://www.gnu.org/software/emacs/" target="_blank">GNU
  Emacs</a>: an extensible, customizable text editor—and more
  <li><a href="http://nodejs.org/" target="_blank">node.js</a>: a
  platform built on Chrome's JavaScript runtime for easily building
  fast, scalable network applications
  <li><a href="http://expressjs.com/" target="_blank">express</a>: web application framework for node
  <li><a target="_blank"
  href="https://github.com/malgorithms/toffee">toffee</a>: a node.js
  and browser templating language based on coffeescript, with the
  slickest syntax ever
  <li><a href="http://underscorejs.org/"
  target="_blank">underscore.js</a>: a utility-belt library for
  JavaScript
  <li><a href="http://jquery.com/" target="_blank">jQuery</a>: a fast, small, and feature-rich JavaScript library
  <li><a target="_blank"
  href="http://spritepad.wearekiss.com/">SpritePad</a>: an image &amp; css sprite generator
  <li><a target="_blank"
  href="http://www.mindmup.com/">Mindmup</a>: Graphical outlines, a.k.a. &quot;mind maps&quot;
  <li>The <a target="_blank" href="https://github.com/foogoof/genmc">source code</a> for this website
</ul>
